<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sharedOne.mapper.member.MemberMapper">

    <select id="memberList" resultMap="memberList">
        SELECT
            m.user_id, phone, name, adddate, auth
        FROM
            member m JOIN authority au ON m.user_id = au.user_id
        WHERE delyn = 'N'
    </select>

    <resultMap id="memberList" type="com.sharedOne.domain.member.MemberDto">
        <id column="user_id" property="user_id"></id>
        <result column="phone" property="phone"></result>
        <result column="name" property="name"></result>
        <result column="adddate" property="adddate"></result>
        <collection property="auth" ofType="string">
            <result column="auth" property="auth"></result>
        </collection>
    </resultMap>
    
    <insert id="insertMember">
        INSERT INTO member (user_id, password, name, phone, adduser)
        VALUES (#{user_id}, #{password}, #{name}, #{phone}, #{adduser})
    </insert>
    
    <insert id="insertAutho">
        INSERT INTO authority (user_id, auth)
        VALUES (#{user_id}, "팀원")
    </insert>

    <select id="selectById" resultMap="memberMap">
        SELECT
            m.user_id, password, auth
        FROM
            member m JOIN authority a ON m.user_id = a.user_id
        WHERE
            m.user_id = #{user_id}
    </select>

    <resultMap id="memberMap" type="com.sharedOne.domain.member.MemberDto">
        <id column="user_id" property="user_id"></id>
        <result column="password" property="password"></result>
        <collection property="auth" ofType="string">
            <result column="auth" property="auth"></result>
        </collection>
    </resultMap>

    <update id="deleteMember">
        UPDATE
            member
        SET
            delyn = 'Y', upddate = now(), upduser = #{upduser}
        WHERE
            user_id = #{user_id}
    </update>

    <insert id="setAutho">
        INSERT INTO
            authority (user_id, auth)
        VALUES
            (#{user_id}, #{auth})
    </insert>

    <update id="modifyMember">
        UPDATE
            member
        SET
            name = #{name}, phone = #{phone}, upduser = #{upduser}, upddate = now()
        WHERE
            user_id = #{user_id}
    </update>

    <select id="selectUserInfo" resultMap="myPageInfo">
        SELECT
            m.user_id, name, phone, auth
        FROM
            member m JOIN authority a ON a.user_id = m.user_id
        WHERE
            m.user_id = #{user_id}
    </select>

    <resultMap id="myPageInfo" type="com.sharedOne.domain.member.MemberDto">
        <id column="user_id" property="user_id"></id>
        <result column="name" property="name"></result>
        <result column="phone" property="phone"></result>
        <collection property="auth" ofType="string">
            <result column="auth" property="auth"></result>
        </collection>
    </resultMap>

    <select id="authCheck" resultType="String">
        SELECT
            auth
        FROM
            authority
        WHERE
            user_id = #{user_id} AND auth = #{auth}
    </select>

    <delete id="deleteAutho">
        DELETE
        FROM
            authority
        WHERE
            user_id = #{user_id} AND auth = #{auth}
    </delete>


</mapper>