<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sharedOne.mapper.report.ReportMapper">

    <!--    <select id="selectOrders" parameterType="map" resultType="com.example.sharedOne.domain.report.OrderDto">-->
    <select id="getOrders" resultType="com.sharedOne.domain.report.OrderDto">
        SELECT
        *,
        b.name buyer_name,
        addm.name adduser_name,
        updm.name upduser_name,
        p.name product_name
        FROM
        order_header h left join order_item i on h.order_code=i.order_code
        left join buyer b on h.buyer_code = b.buyer_code
        left join member addm on h.adduser = addm.user_id
        left join member updm on h.upduser = updm.user_id
        left join product p on i.product_code=p.product_code
        <where>
            <!--<trim prefix="WHERE" prefixOverrides="and">-->
            <trim prefixOverrides="and">

                <if test="order_code != null and order_code!=''">
                    and h.order_code = #{order_code}
                </if>
                <if test="buyer_code != null and buyer_code!=''">
                    and h.buyer_code = #{buyer_code}
                </if>
                <if test="status != null and status!=''">
                    and h.status = #{status}
                </if>
                <if test="adduser != null and adduser!=''">
                    and h.adduser = #{adduser}
                </if>
                <if test="from_request_date != null and from_request_date!='' and to_request_date != null and to_request_date!=''">
                    and h.request_date BETWEEN #{from_request_date} AND #{to_request_date}
                </if>
                <if test="from_add_date != null and from_add_date!='' and to_add_date != null and to_add_date!=''">
                    and h.adddate BETWEEN #{from_add_date} AND #{tmp_to_add_date}
                </if>
                <if test="product_code != null and product_code!=''">
                    and i.product_code=#{product_code}
                </if>
                <if test="true">
                    and h.delyn='N'
                    and i.delyn='N'
                </if>
            </trim>
        </where>
        ORDER BY h.adddate DESC
        LIMIT #{offset}, #{records}
    </select>


    <select id="selectOrderGroups" resultType="com.sharedOne.domain.report.OrderGroupDto">
        SELECT
        date_format(request_date,'%Y') year,
        ${sumCondition} groupName,
        b.name buyer_name,
        addm.name adduser_name,
        sum(i.quantity) sumQuantity,sum(i.price) sumPrice
        FROM
        order_header h left join order_item i on h.order_code=i.order_code
        left join buyer b on h.buyer_code = b.buyer_code
        left join member addm on h.adduser = addm.user_id
        left join product p on i.product_code=p.product_code
        <where>
            <!--<trim prefix="WHERE" prefixOverrides="and">-->
            <trim prefixOverrides="and">
                <if test="order_code != null and order_code!=''">
                    and h.order_code = #{order_code}
                </if>
                <if test="buyer_code != null and buyer_code!=''">
                    and h.buyer_code = #{buyer_code}
                </if>
                <if test="status != null and status!=''">
                    and h.status = #{status}
                </if>
                <if test="adduser != null and adduser!=''">
                    and h.adduser = #{adduser}
                </if>
                <if test="from_request_date != null and from_request_date!='' and to_request_date != null and to_request_date!=''">
                    and h.request_date BETWEEN #{from_request_date} AND #{to_request_date}
                </if>
                <if test="from_add_date != null and from_add_date!='' and to_add_date != null and to_add_date!=''">
                    and h.adddate BETWEEN #{from_add_date} AND #{tmp_to_add_date}
                </if>
                <if test="product_code != null and product_code!=''">
                    and i.product_code=#{product_code}
                </if>
                and h.delyn='N'
                and i.delyn='N'
            </trim>
        </where>
        GROUP BY ${sumCondition}
        ORDER BY h.adddate DESC
        LIMIT #{offset}, #{records}
    </select>


    <select id="countAll" resultType="int">
        SELECT
        count(*)
        FROM
        order_header h left join order_item i on h.order_code=i.order_code
        left join buyer b on h.buyer_code = b.buyer_code
        left join member addm on h.adduser = addm.user_id
        left join member updm on h.upduser = updm.user_id
        left join product p on i.product_code=p.product_code
        <where>
            <!--<trim prefix="WHERE" prefixOverrides="and">-->
            <trim prefixOverrides="and">

                <if test="order_code != null and order_code!=''">
                    and h.order_code = #{order_code}
                </if>
                <if test="buyer_code != null and buyer_code!=''">
                    and h.buyer_code = #{buyer_code}
                </if>
                <if test="status != null and status!=''">
                    and h.status = #{status}
                </if>
                <if test="adduser != null and adduser!=''">
                    and h.adduser = #{adduser}
                </if>
                <if test="from_request_date != null and from_request_date!='' and to_request_date != null and to_request_date!=''">
                    and h.request_date BETWEEN #{from_request_date} AND #{to_request_date}
                </if>
                <if test="from_add_date != null and from_add_date!='' and to_add_date != null and to_add_date!=''">
                    and h.adddate BETWEEN #{from_add_date} AND #{tmp_to_add_date}
                </if>
                <if test="product_code != null and product_code!=''">
                    and i.product_code=#{product_code}
                </if>
                and h.delyn='N'
                and i.delyn='N'
            </trim>
        </where>
    </select>


    <select id="groupContAll" resultType="int">
        SELECT
        count(*) from
        (SELECT
        count(*)
        FROM
        order_header h left join order_item i on h.order_code=i.order_code
        left join buyer b on h.buyer_code = b.buyer_code
        left join member addm on h.adduser = addm.user_id
        left join product p on i.product_code=p.product_code
        <where>
            <!--<trim prefix="WHERE" prefixOverrides="and">-->
            <trim prefixOverrides="and">
                <if test="order_code != null and order_code!=''">
                    and h.order_code = #{order_code}
                </if>
                <if test="buyer_code != null and buyer_code!=''">
                    and h.buyer_code = #{buyer_code}
                </if>
                <if test="status != null and status!=''">
                    and h.status = #{status}
                </if>
                <if test="adduser != null and adduser!=''">
                    and h.adduser = #{adduser}
                </if>
                <if test="from_request_date != null and from_request_date!='' and to_request_date != null and to_request_date!=''">
                    and h.request_date BETWEEN #{from_request_date} AND #{to_request_date}
                </if>
                <if test="from_add_date != null and from_add_date!='' and to_add_date != null and to_add_date!=''">
                    and h.adddate BETWEEN #{from_add_date} AND #{tmp_to_add_date}
                </if>
                <if test="product_code != null and product_code!=''">
                    and i.product_code=#{product_code}
                </if>
                and h.delyn='N'
                and i.delyn='N'
            </trim>
        </where>
        GROUP BY ${sumCondition}
        ) as tmp
    </select>


    <select id="getSums" resultType="com.sharedOne.domain.report.SumDto">
        SELECT
        sum(quantity) sumQuantity,sum(price) sumPrice
        FROM
        order_header h
        left join order_item i
        on h.order_code=i.order_code
        <where>
            <!--<trim prefix="WHERE" prefixOverrides="and">-->
            <trim prefixOverrides="and">

                <if test="order_code != null and order_code!=''">
                    and h.order_code = #{order_code}
                </if>

                <if test="buyer_code != null and buyer_code!=''">
                    and h.buyer_code = #{buyer_code}
                </if>
                <if test="status != null and status!=''">
                    and h.status = #{status}
                </if>
                <if test="adduser != null and adduser!=''">
                    and h.adduser = #{adduser}
                </if>
                <if test="from_request_date != null and from_request_date!='' and to_request_date != null and to_request_date!=''">
                    and h.request_date BETWEEN #{from_request_date} AND #{to_request_date}
                </if>
                <if test="from_add_date != null and from_add_date!='' and to_add_date != null and to_add_date!=''">
                    and h.adddate BETWEEN #{from_add_date} AND #{tmp_to_add_date}
                </if>
                <if test="product_code != null and product_code!=''">
                    and i.product_code=#{product_code}
                </if>
                and h.delyn='N'
                and i.delyn='N'
            </trim>
        </where>
    </select>


    <select id="getProducts" resultType="com.sharedOne.domain.ProductDto">
        SELECT
        p.product_code, p.name
        FROM product p
        WHERE p.delyn = 'N'
        <if test="type == 'product_code'">
            AND p.product_code LIKE #{value}
        </if>
        <if test="type == 'product_name'">
            AND p.name LIKE #{value}
        </if>
    </select>


    <!-- ============================================ -->


    <select id="getOrderCodes" resultType="com.sharedOne.domain.report.OrderDto">
        SELECT
        order_code
        FROM
        order_header
        <!--        WHERE-->
        <!--        order_code like #{order_code_part}-->
    </select>



    <select id="searchOrderCode" resultType="String">
        SELECT
        order_code from order_header
        WHERE
        order_code like #{order_code_part}
    </select>


    <select id="getOrderItems" resultType="com.sharedOne.domain.report.OrderItemDto">
        SELECT
        *
        FROM
        order_item where order_code=#{order_code}
    </select>


</mapper>