<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sharedOne.mapper.BuyerMapper">
    <select id="selectBuyers" resultType="com.sharedOne.domain.BuyerDto">
        SELECT * from buyer where delyn = 'N'
    </select>

    <insert id="insertBuyer">
        INSERT INTO buyer(buyer_code, name, address, country, license, contact, adduser)
        VALUES (#{buyer_code},#{name},#{address}, #{country}, #{license}, #{contact}, #{adduser})
    </insert>

    <update id="updateBuyer">
        UPDATE buyer SET name = #{name}, address = #{address}, license = #{license}, contact = #{contact},
        upduser = #{upduser}, upddate = #{upddate} where buyer_code = #{buyer_code}
    </update>

    <update id="deleteBuyer">
        UPDATE buyer SET delyn ='Y' where buyer_code = #{buyer_code}
    </update>

    <select id="selectBuyersByKeyword" resultType="com.sharedOne.domain.BuyerDto">
        SELECT * FROM buyer
        where
        <trim prefixOverrides="OR">
            <if test="type == 'all'">
                buyer_code LIKE #{newKeyword} and delyn = 'N'||
                name LIKE #{newKeyword} and delyn = 'N'||
                address LIKE #{newKeyword} and delyn = 'N'||
                country LIKE #{newKeyword} and delyn = 'N'||
                license LIKE #{newKeyword} and delyn = 'N'
            </if>

            <if test="type == 'buyer_code'">
                buyer_code LIKE #{newKeyword} and delyn = 'N'
            </if>

            <if test="type == 'name'">
                name LIKE #{newKeyword} and delyn = 'N'
            </if>
        </trim>
    </select>

</mapper>