<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.sharedOne.mapper.BuyerMapper">
    <select id="selectBuyers" resultType="com.example.sharedOne.domain.BuyerDto">
        SELECT * FROM buyer
    </select>

    <insert id="insertBuyer">
        INSERT INTO buyer(buyer_code, name, address, country, license, contact, adduser)
        VALUES (#{buyer_code},#{name},#{address}, #{country}, #{license}, #{contact}, #{adduser})
    </insert>

</mapper>